{{!-- <li>
	{{name}}

	<button class="change-existence" data-id="{{this.id}}" data-newDevoured="{{this.name}}">
		{{#if exists}}NOT EATEN!{{else}}EATEN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li> --}}
