{{!-- <li>
    {{name}}

    <button class="change-existence" data-id="{{id}}" data-newdevour="{{ name }}">
        {{#if exists}}NOT EATEN!{{else}}EATEN!
        {{/if}}
    </button>

    <button class="delete-burg" data-id="{{this.id}}">THROW AWAY!</button>

</li> --}}

{{!-- Here I need to figure out how to make puts work. At the moment the result breaks the app completely if I attempt to link a partial here from index.handlebars --}}