<li>
    {{name}}

    <button class="change-existence" data-id="{{id}}" data-newdevour="{{ name }}">
        {{#if exists}}NOT EATEN!{{else}}EATEN!
        {{/if}}
    </button>

    <button class="delete-burg" data-id="{{this.id}}">THROW AWAY!</button>

</li>

 {{!-- <li>{{this.id}} : {{this.name}} : 
        <button class="change-existence" data-id="{{this.id}}" data-newdevour="{{this.name}}">CONSUME!</button>
      </li> --}}